<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <header>
    </header>

    <main>

      <section class="app-scope">
        <!-- APPLICATION SCOPE ITEM -->
        <!-- Scope Item # -->
        <!-- Project -->
        <!-- Item Type (New/Change/Bug/Support)-->
        <!-- Item Description -->
        <!-- Time Estimate -->
        <!-- Cost Estimate -->
        <!-- Priority -->
        <!-- Related Business Scope Items-->

        <div class="scope-item">
        <div class="identification">
          SP34
        MVP
        New
        </div>
        <div class="desc">
        Initial database design
        </div>
        <div class="estimates">
        4 hours
        $220
        </div>
        </div>

      </section>

      <section class="biz-scope">
        <!-- BUSINESS SCOPE ITEM -->
        <!-- Scope Item # -->
        <!-- Project -->
        <!-- Item Type (New/Change)-->
        <!-- Item Description -->
        <!-- Superseded By -->
        BL17
        MVP
        New
        Can not have duplicate job numbers
        N/A
      </section>
    </main>

    <footer>
    </footer>
  </body>
</html>
