<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

    <script defer type="text/javascript" src="../js/library.js"></script>

    <script>
      var exampleData = JSON.parse(JSON.stringify(
        [
          {"active": true, "first": "Josephine", "last": "Bellmont", "phone": "561.555.9000", "email": "jbellmont76@fake.com", "city": "Lake Worth Beach", "group": "AA"},
          {"active": true, "first": "Andrew", "last": "James", "phone": "561.555.9988", "email": "ajgames@fake.com", "city": "Palm Springs", "group": "AA"},
          {"active": true, "first": "Scott", "last": "Drew", "phone": "561.555.5577", "email": "scottyboy1@fake.com", "city": "Greenacres", "group": "AA"},
          {"active": true, "first": "Mary Anne", "last": "Sanders", "phone": "561.555.4321", "email": "masstypical@fake.com", "city": "Lake Park", "group": "AA"},
          {"active": true, "first": "Gabriella", "last": "Tullard", "phone": "561.444.6677", "email": "gtullard@fake.com", "city": "West Palm Beach", "group": "AA"},
          {"active": true, "first": "Wendy", "last": "Johnson", "phone": "561.333.9944", "email": "wendy.wendy@fake.com", "city": "Haverhill", "group": "BB"},
          {"active": true, "first": "Marcus", "last": "Berrios", "phone": "561.777.2255", "email": "mballer3000@fake.com", "city": "Boynton Beach", "group": "BB"},
          {"active": true, "first": "Lillian", "last": "Pettahue", "phone": "561.555.6611", "email": "lillianpsweets@fake.com", "city": "Delray Beach", "group": "BB"},
          {"active": true, "first": "Selina", "last": "Gonzales", "phone": "561.555.0011", "email": "selina_the_witch@fake.com", "city": "Wellington", "group": "CC"},
          {"active": true, "first": "Brandon", "last": "Smith", "phone": "561.222.6655", "email": "smithsmart100@fake.com", "city": "Royal Palm Beach", "group": "CC"},
          {"active": true, "first": "Alexander", "last": "Petroff", "phone": "561.555.7788", "email": "zanderp@fake.com", "city": "Haverhill", "group": "CC"},
          {"active": true, "first": "Michelle", "last": "Smith", "phone": "561.333.5599", "email": "whitesmith511@fake.com", "city": "Lake Worth Beach", "group": "CC"},
          {"active": true, "first": "Andrew", "last": "Clarke", "phone": "561.555.8811", "email": "clarke.explorer@fake.com", "city": "Wellington", "group": "CC"},
          {"active": true, "first": "Joel", "last": "Sanchez", "phone": "561.999.5000", "email": "jsanchez3840@fake.com", "city": "West Palm Beach", "group": "CC"}
        ]
      ));
    </script>
  </head>
  <body>
  </body>
</html>
