

<form>
  <!-- Client, Project, Task/Item #,  Description, Request Type-->



<!-- Client (login) OR Client Email address -->

  <!-- Ticket Type -->
  <select>
    <option>Change Request [CR]</option>
    <option>Feature Request [FR]</option>
    <option>Support Request [SR]</option>
    <option>Info Request [IR]</option>
  </select>

  <!-- Requested Priority -->
  <select>
    <option>No Priority</option>
    <option>Level 5</option>
    <option>Level 4</option>
    <option>Level 3</option>
    <option>Level 2</option>
    <option>Level 1</option>
    <option>Urgent/Emergency</option>
  </select>


</form>


<section id="ticket-guide">

  <h4>Ticket Type</h4>
  <dl>
    <dfn>
      <dt>Change Request [CR]</dt>
      <dd>Changes to existing functionality or design for an application</dd>
    </dfn>
    <dfn>
      <dt>Feature Request [FR]</dt>
      <dd>New functionality or design for an application</dd>
    </dfn>
    <dfn>
      <dt>Support Request [CR]</dt>
      <dd>Requested user support, training, or consultation.</dd>
    </dfn>
    <dfn>
      <dt>Info Request [IR]</dt>
      <dd>Request documentation or application information.</dd>
    </dfn>
  </dl>

  <h4>Requested Priority</h4>
  <dl>
    <dfn>
      <dt>No Priority</dt>
      <dd>Ticket request has no priority</dd>
    </dfn>
    <dfn>
      <dt>Level 5</dt>
      <dd>Ticket needs to be addressed within 2-3 months.</dd>
    </dfn>
    <dfn>
      <dt>Level 4</dt>
      <dd>Ticket needs to be addressed within 3-4 weeks.</dd>
    </dfn>
    <dfn>
      <dt>Level 3</dt>
      <dd>Ticket needs to be addressed within a week.</dd>
    </dfn>
    <dfn>
      <dt>Level 2</dt>
      <dd>Ticket needs to be addressed within 2-3 business days.</dd>
    </dfn>
    <dfn>
      <dt>Level 1</dt>
      <dd>Ticket needs to be addressed within 1 business day.</dd>
    </dfn>
    <dfn>
      <dt>Urgent/Emergency</dt>
      <dd>Application is down or critical functionality is not working</dd>
    </dfn>
  </dl>
</section>
